<h1>ADD A RICK</h1>
<form id="addperson" action="/" method="post" novalidate>
    <div class="form-group" hidden="true">
        <label for="rickID"></label>
        {{#each lastID}}
            <input type="number" class="form-control" id="rickID" name="rickID" value="{{maxID}}">
        {{/each}}
    </div>

    <div class="form-group">
        <label for="fname">Name</label>
        <input type="text" class="form-control" id="fname" name="fname">
    </div>
    <div class="form-group" hidden="true" >
        <label for="lname"></label>
        <input type="text" class="form-control" id="lname" name="lname" value="Rick">
    </div>
    <div class="form-group">
        <label for="level">Level</label>
        <input type="number" class="form-control" id="level" name="level">
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control selectOption" id="type" name="type">
            {{#each type}}
                <option value="{{rick_type_id}}">{{type}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="dimension">Dimension</label>
        <select class="form-control selectOption" id="dimension" name="dimension">
            {{#each dimension}}
                <option value="{{universe_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="morty">Morty</label>
        <div id="mortySelect">
            <select class="form-control" id="selectMortyOption" onchange="showfield(this.options[this.selectedIndex].value)" name="morty">
                {{#each morty}}
                    <option value="{{morty_id}}">{{fname}} {{lname}}</option>
                {{/each}}
                <option value="0">Create Morty</option>
            </select>
        </div>
    </div>
    
    <div id="mortyType" class="col-sm-8">
        <div class="card" style="width: 20rem;">
            <div class="card-header">
                Featured
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>

    <div id="mortyInfo" class="col-sm-8">
        <div class="form-group" hidden="true">
            <label for="mortyID"></label>
            {{#each mortyLastID}}
                <input type="number" class="form-control" id="mortyID" name="mortyID" value="{{maxMortyID}}">
            {{/each}}
        </div>
         <div class="form-group">
            <label for="mortyfName">Morty's Name</label>
            <input type="text" class="form-control" id="mortyfName" name="mortyfName" required>
        </div>
        <div class="form-group" hidden="true" >
            <label for="mortylName"></label>
            <input type="text" class="form-control" id="mortylName" name="mortylName" value="Morty">
        </div>
        <div class="form-group">
            <label for="mortyLevel">Morty's Level</label>
            <input type="number" class="form-control" id="mortyLevel" name="mortyLevel">
        </div>
        <div class="form-group">
            <label for="mortyHealth">Morty's Health</label>
            <input type="number" class="form-control" id="mortyHealth" name="mortyHealth">
        </div>
        <div class="form-group">
            <label for="mortyDefense">Morty's defense</label>
            <input type="number" class="form-control" id="mortyDefense" name="mortyDefense">
        </div>

        <div class="form-group">
            <label for="mortyAttack">Attack</label>
            <select class="form-control selectOption" id="mortyAttack" name="mortyAttack">
                {{#each mAttack}}
                    <option value="{{attack_id}}">{{ability}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-12" id="submitArea">
            <button id="submitRick" type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>
</form>


<div id="characterTable" role="tablist">
    {{#each ricks}}

    <div class="card">
        <div class="card-header" role="tab" id="heading{{rick_id}}">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse{{rick_id}}" aria-expanded="true" aria-controls="collapse{{rick_id}}">
                <p id={{rick_id}}>{{fname}} {{lname}}</p>
                </a>
            </h5>
        </div>

        <div id="collapse{{rick_id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{rick_id}}" data-parent="#accordion">
            <div class="card-body">
                <table id="displayRicks">
                    <td> <strong> Level: </strong> </td>
                    <td> {{level}} </td> 
                    <td class="left_indent"> <strong>Dimension:</strong> </td> 
                    <td> {{dimension}} </td> 
                    <td class="left_indent"> <strong>Type:</strong> </td> 
                    <td> {{type}} </td> 
                    <td class="left_indent"> <strong>Mortys:</strong> </td> 
                    <td>
                        <select name="rick_morty"> 
                            {{#each rick_catches}}
                                <option value="{{rickID}}">{{fName}}</option>
                            {{/each}}
                        </select>  
                    </td>
                    <td class="left_indent"> <a href="#">Update</a> </td>
                    <td class="left_indent"> <button type="button" class="btn btn-secondary" onclick="#">Delete</button> </td>
                </table>
            </div>
        </div>
    </div>

    {{/each}}
 
</div>

<!--
<select class="form-control selectOption" id="mortyAttack" name="mortyAttack">
    {{#each mAttack}}
        <option value="{{attack_id}}">{{ability}}</option>
    {{/each}}
</select> -->
<!-- <select name="rick_morty"> 
        {{#each rick_catches}}
            <option value="{{rickID}}")>{{fName}}</option>
        {{/each}}
    </select>  -->