<h2>Create A Rick</h2>
<form class="col-sm-8" id="addperson" action="/" method="post" novalidate>
    <div class="form-group" hidden="true">
        <label for="rickID"></label>
        {{#each lastID}}
            <input type="number" class="form-control" id="rickID" name="rickID" value="{{maxID}}">
        {{/each}}
    </div>

    <div class="form-group">
        <label for="fname">Name <small>(Appends Rick at the end of name)</small></label>
        <input type="text" class="form-control" id="fname" name="fname">
    </div>
    <div class="form-group" hidden="true" >
        <label for="lname"></label>
        <input type="text" class="form-control" id="lname" name="lname" value="Rick">
    </div>
    <div class="form-group">
        <label for="level">Level</label>
        <input type="number" class="form-control" id="level" name="level">
    </div>

    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control selectOption" id="type" name="type">
            {{#each type}}
                <option value="{{rick_type_id}}">{{type}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="dimension">Dimension</label>
        <select class="form-control selectOption" id="dimension" name="dimension">
            {{#each dimension}}
                <option value="{{universe_id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <!-- A select option of the different morty's a user can choose or they can select to create their own -->
    <div class="form-group">
        <label for="morty">Morty <small>(Appends Morty at the end of name)</small></label>
        <div id="mortySelect">
            <select class="form-control" id="selectMortyOption" onchange="showfield(this.options[this.selectedIndex].value)" name="morty">
                {{#each morty}}
                    <option value="{{morty_id}}">{{fname}} {{lname}}</option>
                {{/each}}
                <option value="0">Create A Morty</option>
            </select>
        </div>
    </div>
    
    <!-- Will display information of a pre-existing morty -->
    <div id="mortyType" class="col-sm-8">   </div>

    <!-- Will display the fields to enter a new morty -->
    <div id="mortyInfo" class="col-sm-8">
        <div class="form-group" hidden="true">
            <label for="mortyID"></label>
            {{#each mortyLastID}}
                <input type="number" class="form-control" id="mortyID" name="mortyID" value="{{maxMortyID}}">
            {{/each}}
        </div>
         <div class="form-group">
            <label for="mortyfName">Morty's Name</label>
            <input type="text" class="form-control" id="mortyfName" name="mortyfName" required>
        </div>
        <div class="form-group" hidden="true" >
            <label for="mortylName"></label>
            <input type="text" class="form-control" id="mortylName" name="mortylName" value="Morty">
        </div>
        <div class="form-group">
            <label for="mortyLevel">Morty's Level</label>
            <input type="number" class="form-control" id="mortyLevel" name="mortyLevel">
        </div>
        <div class="form-group">
            <label for="mortyHealth">Morty's Health</label>
            <input type="number" class="form-control" id="mortyHealth" name="mortyHealth">
        </div>
        <div class="form-group">
            <label for="mortyDefense">Morty's defense</label>
            <input type="number" class="form-control" id="mortyDefense" name="mortyDefense">
        </div>

        <div class="form-group">
            <label for="mortyAttack">Attack</label>
            <select class="form-control selectOption" id="mortyAttack" name="mortyAttack">
                {{#each mAttack}}
                    <option value="{{attack_id}}">{{ability}} &emsp; Power: {{power}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    

    <div class="form-group row">
        <div class="col-sm-12" id="submitArea">
            <button id="submitRick" type="submit" class="btn btn-dark">Submit</button>
        </div>
    </div>
</form>


<div id="characterTable" class="col-sm-10" role="tablist">
    {{#each ricks}}

    <div class="card">
        <div class="card-header Rick_Title" role="tab" id="heading{{rick_id}}">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse{{rick_id}}" aria-expanded="true" aria-controls="collapse{{rick_id}}">
                <p id="name{{rick_id}}">{{fname}} {{lname}}</p>
                </a>
            </h5>
        </div>

        <div id="collapse{{rick_id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{rick_id}}" data-parent="#accordion">
            <div class="card-body">
                <table id="displayRicks">
                    <tr>
                        <td> <strong> Level: </strong> </td>
                        <td> {{level}} </td> 
                        <td class="left_indent"> <strong>Dimension:</strong> </td> 
                        <td> {{dimension}} </td> 
                        <td class="left_indent"> <strong>Type:</strong> </td> 
                        <td> {{type}} </td> 
                    </tr>
                </table>
                <div id="{{rick_id}}">
                    <strong>Mortys:</strong>
                </div>
                <div class="options">
                    <span class="rightAlign"> <a href="#">Update</a> </span> &emsp;
                    <span class="rightAlign"> <button type="button" class="btn btn-secondary" onclick="deleteRick({{rick_id}})">Delete</button> </span>
                </div>
            </div>
        </div>
    </div>

    {{/each}}
 
</div>

