
<!-- TESTING 
{{#each foo}}
    {{this}}
{{/each}}
-->

<table>

    <!--
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>level</th>
        <th>dimension</th> 
        <th>type</th>  
    </thead> 
    <tbody> 
        {{#each ricks}} 
        <tr> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{level}}</td> 
            <td>{{dimension}}</td>
            <td>{{type}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/people/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
    -->

    <form id="addperson" action="/people" method="post">
        <!-- First name: <input type="text" name="fname"><br> -->

        <div class="form-group">
            <label for="fname">Name</label>
            <input type="text" class="form-control" id="fname" name="fname" required>
        </div>
        <div class="form-group" hidden="true" >
            <label for="lname"></label>
            <input type="text" class="form-control" id="lname" name="lname" value="Rick">
        </div>
       <!-- Last name: <input type="text" name="lname"><br> -->
        <div class="form-group">
            <label for="level">Level</label>
            <input type="number" class="form-control" id="level" name="level">
        </div>

        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control selectOption" id="type" name="type">
                {{#each type}}
                    <option value="{{rick_type_id}}">{{type}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="dimension">Dimension</label>
            <select class="form-control selectOption" id="dimension" name="dimension">
                {{#each dimension}}
                    <option value="{{universe_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div class="form-group">
            <label for="morty">Morty</label>
            <select class="form-control" id="selectMortyOption" onchange="showfield(this.options[this.selectedIndex].value)" name="morty">
                {{#each morty}}
                    <option value="{{morty_id}}">{{fname}} {{lname}}</option>
                {{/each}}
                <option value="Other">Other</option>
            </select>
        </div>

        <div id="mortyInfo" class="col-sm-8">
            <div class="form-group">
                <label for="mortyfName">Morty Name</label>
                <input type="text" class="form-control" id="mortyfName" name="mortyfName" required>
            </div>
        </div>

        <div class="form-group" hidden="true">
            <label for="rickID"></label>
            {{#each lastID}}
                <input type="number" class="form-control" id="rickID" name="rickID" value="{{maxID}}">
            {{/each}}
        </div>

        <input type="submit" value="Submit">
    </form>

</table> 



<div id="characterTable" role="tablist">
    {{#each ricks}}

    <div class="card">
        <div class="card-header" role="tab" id="heading{{rick_id}}">
            <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapse{{rick_id}}" aria-expanded="true" aria-controls="collapse{{rick_id}}">
                <p id={{rick_id}}>{{fname}} {{lname}}</p>
                </a>
            </h5>
        </div>

        <div id="collapse{{rick_id}}" class="collapse" role="tabpanel" aria-labelledby="heading{{rick_id}}" data-parent="#accordion">
            <div class="card-body">
                <table id="displayRicks">
                    <td> <strong> Level: </strong> </td>
                    <td> {{level}} </td> 
                    <td class="left_indent"> <strong>Dimension:</strong> </td> 
                    <td> {{dimension}} </td> 
                    <td class="left_indent"> <strong>Type:</strong> </td> 
                    <td> {{type}} </td> 
                    <td class="left_indent"> <strong>Mortys:</strong> </td> 
                    <td>
                        <select name="rick_morty"> 
                            {{#each rick_catches}}
                                <option value="{{rickID}}">{{fName}}</option>
                            {{/each}}
                        </select>  
                    </td>
                    <td class="left_indent"> <a href="#">Update</a> </td>
                    <td class="left_indent"> <button type="button" class="btn btn-secondary" onclick="#">Delete</button> </td>
                </table>
            </div>
        </div>
    </div>

    {{/each}}
 
</div>